.wrapper {
  width: 750px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: rgb(48, 48, 77);
  margin-left: 48px;
  margin-top: 48px;
}
